<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DataBaseName" value="TestAutomation" />
    <add key="AppDataLocation" value="C:\Automation\AppData\" />
    <add key="TestRunBatchFileLocation" value="C:\Automation\" />
    <add key="TrxFileLocation" value="C:\Automation\TestResults" />
    <add key="SQLServer" value="SQL_SERVER_IP,SQL_SERVER_PORT" />
    <add key="SQLUserName" value="SQL_USER" />
    <add key="SQLPassword" value="SQL_USER_PASSWORD" />
    <add key="SplunkLocation" value="SPLUNK_LOG_DIRECTORY" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="XmlSchema" value="http://microsoft.com/schemas/VisualStudio/TeamTest/2010"/>
    <add key="MSType" value="Microsoft.VisualStudio.TestTools.TestTypes.Unit.UnitTestElement, Microsoft.VisualStudio.QualityTools.Tips.UnitTest.ObjectModel, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>